/* Mobile CSS responsive */
      
      body{
  margin: 0;
  padding: 0;
  font-family: Times New Roman;
}

/* navihation bar */

#nav-bar{
  width: 90%;
  top: 2%;
  left: 5%;
}
#nav-bar ul li{
  margin: 6px 4px;
  padding: 2px;
  text-align: center;
}
#nav-bar li a{
  padding: 4px 6px;
  font-size: 8px;
}

/* home section */

#home{
  width: 85%;
  margin: auto;
  padding-top: 80px;
}

#home .home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-content{
  width: 100%;
  position: relative;
  margin-left: 0px;
}

.home-content p:nth-child(1){
  font-size: 10px;
}
.home-content p:nth-child(4){
  font-size: 10px;
}
.home-content h1{
  font-size: 30px;
}
.home-content h2{
  font-size: 20px;
}
.home-content span{
  font-size: 10px;
}

.home-content .btn{
  font-size: 18px;
  border-radius: 8px;
  margin: 6px 2px;
}

.home-content img{
  border-bottom: 8px groove black;
  width: 330px;
}

.home-content .circle{
  width: 310px;
  height: 310px;
  top: 4%;
  left: 4%;
}

/* about section */

#about{
  padding-top: 80px;
}

#about .about{
  flex-direction: column;
}

.about-content{
  width: 100%;
}

.about-content h1{
  font-size: 30px;
}
.about-content h2{
  font-size: 24px;
}

.about-content .box{
  width: 100%;
  margin: 5px 0px;
}

.about-content .img-box{
  margin: 40px 0px;
  width: 100%;
  height: auto;
}
/* Image gellery */

#gellery{
  padding-top: 80px;
}
.gellery .image{
  flex-direction: column;
}
.gellery .image img{
  width: 85%;
  filter: blur(2px);
}

.gellery .image img:hover{
  width: 99%;
}
/*  projects section */

#projects{
  width: 85%;
  margin: auto;
  padding-top: 60px;
}

#projects .projects h1{
  font-size: 30px;
  font-weight: bolder;
}
.projects .projects-content{
  width: 100%;
  height: auto;
  margin: 5px 0px;
}

.projects-content .projects-image{
  padding: 5px;
}

.projects-image img{
  width: 100%;
  border-radius: 10px;
}

.projects-content span{
  margin: 2px 2px;
}

.projects-link{
  padding: 20px;
}
.projects-link a{
  font-size: 15px;
  padding: 4px 6px;
  margin: 4px 6px;
}

/*  skill section */

#skill{
  padding-top: 60px;
}

.skill .skill-content{
  width: 100%;
  margin: 10px 0px;
}

/*  contact section */

#contact{
  padding-top: 60px;
}

#contact .contact{
  flex-direction: column;
}

.contact .contact-content{
  width: 100%;
  padding: 20px 0px;
}

.contact-content p{
  font-size: 15px;
  margin-bottom: 20px;
}
.contact-content span{
  font-size: 10px;
}

.contact-content a{
  padding: 6px 8px;
  margin: 0px 4px 10px 0px;
  font-size: 20px;
}


.contact-content form{
  padding: 10px 0px;
}
.contact-content input, textarea{
  margin: 0px;
  padding: 8px;
}
.contact-content .submit-btn{
  width: 40%;
}

/* footer */

footer{
  background: black;
}

footer .footer{
  width: 85%;
  margin: auto;
  text-align: center;
  padding: 20px;
}

.footer h1{
  font-size: 20px;
}

.footer ul li{
  margin: 6px 4px;
  padding: 2px;
  text-align: center;
}
.footer li a{
  padding: 4px 6px;
  font-size: 6px;
}
  

.footer a{
  font-size: 25px;
  margin: 5px;
}

}
      